@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);
/* HSL */
/* RGB */
/* line 15, ../sass/_main.scss */
a {
  text-decoration: none;
}
/* line 17, ../sass/_main.scss */
a:hover {
  text-decoration: none;
}

/* line 21, ../sass/_main.scss */
body {
  padding-top: 51px;
}

/* line 25, ../sass/_main.scss */
.barraprincipal0 {
  background: white;
}

/* line 30, ../sass/_main.scss */
.barraprincipal .nombre {
  font-size: 35px;
}
/* line 33, ../sass/_main.scss */
.barraprincipal ul {
  padding-top: 10px;
  display: inline-block;
  float: right;
}
/* line 37, ../sass/_main.scss */
.barraprincipal ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
  padding-top: 3px;
  margin: 0 6px;
  background: black;
}
/* line 47, ../sass/_main.scss */
.barraprincipal ul li:hover {
  border: 2px solid #ef8354;
  background: #ef8354;
}
/* line 50, ../sass/_main.scss */
.barraprincipal ul li:hover span {
  color: black;
}
/* line 54, ../sass/_main.scss */
.barraprincipal ul li span {
  color: white;
  font-size: 15px;
}

/* line 64, ../sass/_main.scss */
#main-logo {
  width: 50px;
  padding-top: 1px;
}

/* line 69, ../sass/_main.scss */
.ejemplos {
  display: flex;
  justify-content: center;
}
/* line 72, ../sass/_main.scss */
.ejemplos li {
  padding: 0 20px;
  text-transform: uppercase;
}

/* line 79, ../sass/_main.scss */
.sliderfotos {
  margin-top: 30px;
  margin-bottom: 15px;
}

/* line 86, ../sass/_main.scss */
.cuadrado-contenedor {
  max-width: 100%;
  height: 300px;
  background: white;
  padding: 10px;
}
/* line 91, ../sass/_main.scss */
.cuadrado-contenedor .cuadrado {
  max-width: 100%;
  height: 280px;
  background: #bfc0c0;
  text-align: center;
  padding: 0;
}
/* line 97, ../sass/_main.scss */
.cuadrado-contenedor .cuadrado .rectangulo-naranja {
  background: #ef8354;
  margin-top: 255px;
  height: 25px;
  max-width: 100%;
}
/* line 102, ../sass/_main.scss */
.cuadrado-contenedor .cuadrado .rectangulo-naranja h3 {
  font-size: 14px;
  color: #2d3142;
  text-transform: uppercase;
  padding-top: 4px;
}
/* line 111, ../sass/_main.scss */
.cuadrado-contenedor .cuadrado:hover .texto-escondido {
  top: 0;
  display: block;
  height: 280px;
  font-size: 14px;
}
/* line 116, ../sass/_main.scss */
.cuadrado-contenedor .cuadrado:hover .texto-escondido p {
  padding: 170px 30px 30px 0px;
  text-decoration: none;
  color: white;
}
/* line 125, ../sass/_main.scss */
.cuadrado-contenedor .cuadrado .texto-escondido {
  display: hidden;
  height: 0px;
  max-width: 100%;
  background: rgba(45, 49, 66, 0.4);
  position: absolute;
  top: 300px;
  transition: 0.2s;
  text-align: left;
  font-size: 0px;
}

/* line 138, ../sass/_main.scss */
.cuadrado-contenedor2 {
  max-width: 100%;
  height: 300px;
  background: white;
  padding: 10px;
}
/* line 144, ../sass/_main.scss */
.cuadrado-contenedor2 .cuadradobig {
  max-width: 100%;
  height: 280px;
  background: #bfc0c0;
  padding: 0;
}
/* line 149, ../sass/_main.scss */
.cuadrado-contenedor2 .cuadradobig .rectangulo-naranja {
  background: #ef8354;
  margin-top: 255px;
  height: 25px;
  text-align: center;
}
/* line 154, ../sass/_main.scss */
.cuadrado-contenedor2 .cuadradobig .rectangulo-naranja h3 {
  font-size: 14px;
  color: #2d3142;
  text-transform: uppercase;
  padding-top: 4px;
}
/* line 163, ../sass/_main.scss */
.cuadrado-contenedor2 .cuadradobig:hover .texto-escondido {
  top: 0;
  display: block;
  height: 280px;
  font-size: 14px;
}
/* line 168, ../sass/_main.scss */
.cuadrado-contenedor2 .cuadradobig:hover .texto-escondido p {
  padding: 190px 30px 30px 0px;
  color: white;
}
/* line 175, ../sass/_main.scss */
.cuadrado-contenedor2 .cuadradobig .texto-escondido {
  display: hidden;
  height: 0px;
  max-width: 100%;
  background: rgba(45, 49, 66, 0.4);
  position: absolute;
  top: 300px;
  transition: 0.2s;
  text-align: left;
  font-size: 0px;
}

/* line 191, ../sass/_main.scss */
.antefooter {
  background: #ef8354;
  height: 100px;
  margin-top: 20px;
  text-align: center;
  height: 200px;
}
/* line 197, ../sass/_main.scss */
.antefooter .newsletter {
  padding-top: 40px;
}
/* line 199, ../sass/_main.scss */
.antefooter .newsletter h5 {
  font-size: 20px;
}

/* line 208, ../sass/_main.scss */
footer {
  padding-top: 20px;
  background: #2d3142;
  font-size: 11px;
}
/* line 213, ../sass/_main.scss */
footer ul {
  color: white;
  list-style: none;
  padding-top: 5px;
}
/* line 218, ../sass/_main.scss */
footer .redes {
  font-size: 20px;
  padding-bottom: 18px;
}
/* line 221, ../sass/_main.scss */
footer .redes li {
  border: 2px solid #bfc0c0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  color: #bfc0c0;
}
/* line 229, ../sass/_main.scss */
footer .redes li:hover {
  color: #ef8354;
  border: 2px solid #ef8354;
}
/* line 233, ../sass/_main.scss */
footer .redes li span {
  position: relative;
  top: 5px;
}

/* line 246, ../sass/_main.scss */
.noticia {
  text-align: center;
}
/* line 249, ../sass/_main.scss */
.noticia h1 {
  text-transform: uppercase;
  padding: 30px 0;
}
/* line 254, ../sass/_main.scss */
.noticia .texto-noticia {
  text-align: left;
  margin-top: 40px;
}
/* line 258, ../sass/_main.scss */
.noticia .imagen-chica {
  margin: 40px 0;
  max-width: 100%;
  text-align: center;
}
